
<aside>
  <!-- Gebruiker info -->
  <section>
    <img src="/assets/images/profile.svg" alt="Profielfoto van Mark Heijnenkamp" width="40" height="40">
    <p><strong>Mark Heijnenkamp</strong><br>
    mark.heijnenkamp@xyzorg.app</p>
  </section>

  <nav>
    <ul>

      <!-- Dashboard blok (titel met icoon, geen link) -->
      <li>
        <p class="ipse">Ipse de Brugge</p>
        <p>
          <img src="/assets/images/dashboard.svg" alt="" width="20" height="20">
          Dashboard
        </p>
        <ul>
          <li>
            <a href="#">
              <img src="/assets/images/gebruikers-beheren.svg" alt="" width="20" height="20">
              Gebruikers beheren
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/assets/images/statistieken.svg" alt="" width="20" height="20">
              Statistieken
            </a>
          </li>
        </ul>
      </li>

      <!-- Opleidingen blok (titel met icoon, geen link) -->
      <li>
        <p class="opleidingen">Opleidingen</p>
        <p>
          <img src="/assets/images/opleidingen.svg" alt="" width="20" height="20">
          Opleidingen
        </p>
        <ul>
          <li><a href="#">Maatschappelijke zorg</a></li>
        </ul>
      </li>

    </ul>
  </nav>
</aside>
